* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #154522;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
}

.header {
  text-align: center;
  margin-top: 20px;
  color:greenyellow
}


.slider__wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 0 50px;
}


.slider__cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  transition: 1s ease-in-out;
}
.s1 {
  width: 100%;
  height: 100%;
  transition: all .6s ease;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.navigation{
  display: flex;
  column-gap: 10px;
}

.pagination-circle {
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid deepskyblue;
  border-radius: 50%;
}

.pagination-circle::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%; 
  }

.pagination-circle:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.pagination-circle.active {
  background-color: purple;
}

input[name="r"]{
  position: absolute;
  visibility:hidden;
}



#r1:checked ~ .s1{
  background-image: url("https://opis-cdn.tinkoffjournal.ru/mercury/old-memes-to-remember-02.hzeuexykyf4b..jpg?preset=image_570w_2x");
}
#r2:checked ~ .s1{
  background-image: url("https://opis-cdn.tinkoffjournal.ru/mercury/old-memes-to-remember-06.ex4afatqg2lk..jpg?preset=image_570w_2x");
}
#r3:checked ~ .s1{
  background-image: url("https://opis-cdn.tinkoffjournal.ru/mercury/old-memes-to-remember-13.io6eeu7kinat..jpg?preset=image_570w_2x");
}
#r4:checked ~ .s1{
  background-image: url("https://opis-cdn.tinkoffjournal.ru/mercury/old-memes-to-remember-16.afbsmuzk5uwf..jpg?preset=image_570w_2x");
}
#r5:checked ~ .s1{
  background-image: url("https://admin.europaplus.ru/storage/news/370/037025/mem-mister4.jpg");
}

input#r1:checked ~ .navigation .l1,
input#r2:checked ~ .navigation .l2,
input#r3:checked ~ .navigation .l3,
input#r4:checked ~ .navigation .l4,
input#r5:checked ~ .navigation .l5 {
  background-color: purple;
}


/*CONT*/
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  justify-self: flex-end;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  margin: 0 10px;
}

.githubLink {
  color: #fff;
  text-decoration: none;
}

.social-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  display: block;
}

.contacts ul {
  list-style: none;
}

.contacts ul li {
  display: flex;
  align-items: center;
}



/* @media screen and (max-width: 768px) {
  .slider__bottom {
    flex-direction: column;
    row-gap: 20px;
    flex-direction: column-reverse;
  }

  .card-text{
    align-self: flex-start;
    font-size: 20px;
  }
} */